<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>

<body>

    <div class="container is-max-desktop">

        <div class="content">
            <form method="POST" action="/signup">
                <h1>Sign up</h1>
        </div>

        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g Joe" name="firstname_field">
            </div>
        </div>

        <div class="field">
            <label class="label">Surname</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g. Smith" name="surname_field">
            </div>
        </div>

        <div class="field">
            <label class="label">Username</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g. jsmith123" name="username_field">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" placeholder="Enter a memorable password" name="password_field">
            </div>
        </div>


        <div class="field is-grouped">
            <div class="control">
                <input class="button is-black" type="submit" href="/tradethecart">
            </div>
            <div class="control">
                <a class="button is-light" href="#">Continue as Guest</a>
            </div>
            <div class="control">
                <a class="button is-light" href="/">Cancel</a>
            </div>
            </form>
        </div>
    </div>

</body>

</html>