.navbar-item{
    padding: 15px;
    font-size: 30px;
}

.mytitle{
    font-size: 30px;
    font-weight: bold;
}

.content {
    padding-top: 10px;
}

.userlabel {
    font-size: 30px;
    font-weight: bold;
    color: white;
}




