<<<<<<< HEAD
.navbar-item{
    padding: 15px;
}

=======
>>>>>>> 9a83fdebdf444885e2d0a18c79935544738ffb30
.mytitle{
    font-size: 30px;
    font-weight: bold;
}

.content {
    padding-top: 10px;
}


<<<<<<< HEAD


=======
.navbar-link {
    color:white;
}

>>>>>>> 9a83fdebdf444885e2d0a18c79935544738ffb30
